<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            nzTheme="light"
            nzBreakpoint="sm"
            [nzTrigger]="null"
            [(nzCollapsed)]="isCollapsed">
    <div class="sidebar-logo">
      <a href="/">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="height: 100vh;">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Demo" nzIcon="copy">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/skeleton">Skeleton</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/result">Result</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/line">Line</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/statistic">Statistic</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/timeline">Timeline</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/date-picker">Date Picker</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo/login">Login</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="/demo">Basic</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
